<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index3</title>
</head>
<body>
    <h1 id="test3">Ваша запись была удалена.</h1>


    <script>
        function styles(){
            let task = document.getElementById("test3");
            task.style.fontSize = "35px";
            task.style.color = "blue";
            task.style.textAlign = "center";
        }
        styles()
    </script>
    
</body>
</html>